<div class="main">
  <% if user_signed_in? %>
    <div class="side_bar">
      <%= render "side_bar" %>
    </div>
    <div class="history">
      <%= render "history" %>
    </div>
  <% end %>
</div>
