<div class="main">
  <%# if user_signed_in? %>
    <div class="balance">
      現在高
    </div>
    <div class="input">
      入力フォーム
    </div>
    <div class="payments">
      履歴
    </div>
  <%# end %>
</div>
<div class="side_bar">
  サイドバー
</div>